.filter-condition {
    padding: 20px;
    height: 100px;
    font-size: 20px;
}

.filter-condition select {
    width: 120px;
    padding: 0 0 0 10px;
    border: none;
    outline: none;
    font-weight: bold;
    color: purple;
    background: transparent;
    cursor: pointer;
}


